.header{
    height: 67px;
    width: 100%;
    position: fixed;
    background: #FDFDFD;
    display: flex;
    justify-content: space-between; 
    z-index: 1; 
}
body{
    margin: 0;
    height: 2510px;
}
#img-icon{
    height: 43px;
    width: 172px;
    padding-left: 7rem;
    padding-top: 10px;
    float: left;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    padding-right: 14rem;
    color: #949494;
    list-style: none;
    padding-top: 11px;
    width: 43rem;
 }
 
#img-tata{
    padding-right: 88px;
    height: 55px;
    padding-top: 8px
}
.nav{
    width: 46rem;
    padding-left: 4rem;
}
.search-icon{
    padding-top: 28px;
    padding-left: 24px;
    color: #A3A39E;
    width: 32px;
    height: 22px;
}
#img-background{
    width: 100%;
    height: 28rem;
    object-fit: cover;
    background-image: url(BOB-updated-1366X700.jpg);
    padding-top: 8rem;
}
.centered{
    padding-left: 40rem;
    padding-top: 14rem;
    color: lemonchiffon;
}
.head-button{
    padding-left: 10;
    margin-left: 42rem;
    border-radius: 14px;
    background: #2A6292;
    height: 38px;
    border: 0;
    color: lemonchiffon;
}
.contant-part-two{
    height: 13rem;
    width: 100%;
    background: #000000;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding-top: 5rem;
   
}
.snapshots{
    color: white;
    padding-left: 75px;
    padding-top: 2rem;
    font-weight: 100;
    font-size: 25px;
}
.img-snapshots{
    border-radius: 50%;
}
#img1{
    padding-right: 90rem;
    padding-top: 120px;
}
.second -part-div{
display: flex;
justify-content: space-between;
}
.btn-second{
    color: white;
    background: black;
    border: 0;
}
.content-part-three{
    width: 100%;
    height: 800px;
    color: #ffff;
    
    
}
.text-top{
    width: 100%;
    height: 47px;
    text-align: center;
    color: black;
    font-size: 38px;
    font-style: normal;
    font-weight: 100;
    text-align: center;
}

.contant-three{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 97px;
  grid-auto-rows: minmax(100px, auto);
}
.first-card{
    grid-column: 1;
    grid-row: 1 / 1;  
}
.img-main{
    height: 458px;
    width: 21rem;
    object-fit: cover;
    padding-left: 75px;
}
.mini-card{
    grid-column: 2;
  grid-row: 1;
}
.second-card{
    grid-column: 3;
    grid-row: 1 / 1;   
}
.mini-card2{
    width: 19rem;
    height: 453px;
    margin-right: 25px;
}
.font-inner-div{
    padding-left: 81px;
    font-size: 18px;
    font-weight: 400;
    height: 54px;
}
.font-inner-div2{
    padding-left: 0px;
    font-size: 17px;
    font-weight: 400;
    height: 48px;
    width: 20rem;
}
.contant-four{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 97px;
    grid-auto-rows: minmax(100px, auto);
}
.contant-four-first-div{
    grid-column: 1;
    grid-row: 1 / 1;   
}
.contant-four-second-div{
    grid-column: 2;
    grid-row: 1 / 1; 
}
.footer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 97px;
    grid-auto-rows: minmax(100px, auto);
   
}
.footer-first-column{
    grid-column: 1;
    grid-row: 1 / 1; 
    width: 271px;
    list-style: none;
}
ul{
    list-style: none;
    color: #BEBCBE;
}
li{
    padding-top: 10px;
}
.last{
    height: 24rem;
    background: #474747;
    margin-top: 75px;
}
.footer-second-column{
    grid-column: 2;
    grid-row: 1 / 1; 
    width: 271px;
    list-style: none;
}
.footer-third-column{
    grid-column: 3;
    grid-row: 1 / 1; 
    width: 271px;
    list-style: none;
}
.footer-four-column{
    grid-column: 4;
    grid-row: 1 / 1; 
    width: 271px;
    list-style: none;
}